
.hiddenStructure {
    display: block;
    background: 0 0;
    background-image: none;
    border: none;
    height: .1em;
    overflow: hidden;
    padding: 0;
    margin: -.1em 0 0 -.1em;
    width: 1px;
}

.portletHeader {
    font-size: rem-calc(19);
    font-weight: normal;
    a {
        color: $body-font-color;
    }
}

@include breakpoint(medium) {
    .pageContent {
        padding-right: $global-padding * 2;
    }
    .portletHeader {
        font-size: rem-calc(31);
    }
}
