
// NOT TO BE USED AT THE MOMENT
// .circled-item {
//     position: relative;
//     display: block;
//     border-radius: 50%;
//     > * {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//     }
// }
//
.expand-container {
    position: relative;
    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
// end of NOT TO BE USED AT THE MOMENT
