
.menu > li {
    height: 90px;
}

.menu > li > a {
    padding: 0 1rem;
}

.drilldown > li,
.menu li li {
    height: auto;
}

.drilldown > li a,
.menu li li a {
    padding: 0.7rem 1rem;
    text-align: left;
    border-bottom: 1px solid $light-gray;
}

.is-dropdown-submenu {
    min-width: 350px;
}
