<header class="site-header" data-sticky-container>
    <div class="sticky" data-sticky data-options="marginTop: 0; stickyOn: small;" style="width:100%">
        <div class="row">
            <div class="small-12 columns">
                <div class="title-bar">
                    <div class="title-bar-left">
                        <a class="site-logo"
                           href="/">
                            <img src="{{root}}assets/img/logo.png">
                        </a>
                    </div>

                    <div class="title-bar-right">
                        <button class="menu-icon" type="button" data-open="offCanvas"></button>

                        <div class="top-nav">
                            {{> navigation}}
                        </div>
                    </div>

                    <div id="portal-searchbox">
                        <form id="livesearch0" action="http://localhost:9930/prescientdigital/@@search">
                            <div class="LSBox">
                                <label class="hiddenStructure" for="searchGadget">Search Site</label>

                                <input name="SearchableText" type="text" size="18" title="Search Site" placeholder="Search Site" accesskey="4" class="searchField" id="searchGadget" autocomplete="off">

                                <input class="searchButton show-for-sr" type="submit" value="Search">

                                <a id="close-search" class="close-search"><i class="icon-cancel"></i></a>

                                <div class="searchSection">
                                    <input id="searchbox_currentfolder_only" class="noborder" type="checkbox" name="path" value="/prescientdigital/about-us">
                                    <label for="searchbox_currentfolder_only" style="cursor: pointer">
                                        only in current section
                                    </label>
                                </div>

                                <div class="LSResult" id="LSResult" style="display: none;">
                                    <div class="LSShadow" id="LSShadow"></div>
                                </div>
                            </div>
                        </form>

                        <div id="portal-advanced-search" class="hiddenStructure">
                            <a href="http://localhost:9930/prescientdigital/@@search" accesskey="5">
                                Advanced Search…
                            </a>
                        </div>
                    </div>

                    <a id="reveal-search" class="reveal-search"><i class="icon-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
