<header class="site-header" data-sticky-container>
    <div class="sticky" data-sticky data-options="marginTop: 0; stickyOn: small;" style="width:100%">
        <div class="row">
            <div class="small-12 columns">
                <div class="title-bar">
                    <div class="title-bar-left">
                        <a class="site-logo"
                           href="/">
                            <img src="{{root}}assets/img/logo2.png">
                        </a>
                    </div>

                    <div class="title-bar-right">
                        <button class="menu-icon" type="button" data-open="offCanvas"></button>

                        <div class="top-nav">
                            {{> navigation}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
