
.icon-volume:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-doc-text-1:before { content: '\e83e'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */