
.site-header {
    height: 90px;
    line-height: 90px;
    .sticky {
        background-color: $titlebar-background;
        &.is-anchored {
            z-index: 5;
        }
    }
    .is-stuck {
        border-bottom: 1px solid $light-gray;
    }
}

.top-nav {
    @include element-invisible;
}

@include breakpoint(large) {
    .top-nav {
        @include element-invisible-off;
    }

    .menu-icon {
        display: none;
    }
}
