
.site-footer {
    background-color: #333333;
    color: $white;
    font-family: $header-font-family;
    padding: 50px 0 20px 0;
    a {
        color: $white;
    }
    h5 {
        color: $medium-gray;
    }
    input[type="text"] {
        font-size: $global-font-size;
        box-shadow: none;
        border: none;
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
    }
    .button {
        height: 40px;
        line-height: 40px;
        padding: 0 12px;
    }
}

.footer-logo {
    margin-bottom: 10px;
    width: 200px;
}

.social-media {
    i {
        font-size: 24px;
    }
}
