{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescient Digital Media</title>

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- MASTER SLIDER -->
	<!-- syntaxHilighter style sheet -->
    <!--
	<link rel="stylesheet" type="text/css" href="assets/masterslider/syntax-highlighter/styles/shCore.css" media="all">
	<link rel="stylesheet" type="text/css" href="assets/masterslider/syntax-highlighter/styles/shThemeDefault.css" media="all">
    -->

	<!-- Base MasterSlider style sheet -->
	<link rel="stylesheet" href="assets/vendor/masterslider/style/masterslider.css" />

	<!-- main style -->
    <!--
	<link rel="stylesheet" type="text/css" href="assets/masterslider/style/main_style.css" media="all">
    -->

	<!-- MasterSlider default skin -->
	<link rel="stylesheet" href="assets/vendor/masterslider/style/default_skin.css" />

	<!-- Home slider style -->
	<link rel="stylesheet" href="assets/vendor/masterslider/style/home_slider.css" />

    <!--
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    -->

	<!-- Latest version of jQuery from Google CDN -->
	<!-- You can remove it if jQuery is already included. -->
    <!--
    MOVED TO BOTTOM OF PAGE
    -->
    <!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="assets/vendor/masterslider/js/jquery.easing.min.js"></script>
    -->
	<!-- MasterSlider main JS file -->
    <!--
    MOVED TO BOTTOM OF PAGE
    -->
    <!--
	<script src="assets/vendor/masterslider/js/masterslider.min.js"></script>
    -->

	<!-- Tabs -->
    <!--
	<script src="assets/masterslider/js/tab.js"></script>
	<script src="assets/masterslider/syntax-highlighter/scripts/shCore.js"></script>
	<script src="assets/masterslider/syntax-highlighter/scripts/shBrushXml.js"></script>
	<script src="assets/masterslider/syntax-highlighter/scripts/shBrushCss.js"></script>
	<script src="assets/masterslider/syntax-highlighter/scripts/shBrushJScript.js"></script>
    -->

    <!--
	<style type="text/css" media="screen">
		html{font-size: 100%}
		body{
			margin:0;
			color: #3D3D3D;
			font: normal 81.25%/1.5 'Lato',arial,sans-serif !important;
			min-height: 100%;
		}

		.header{
			margin:0;
		}
	</style>
    -->
    <!-- END MASTER SLIDER -->

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-absolute position-right" id="offCanvas" data-off-canvas data-options="transition: overlap">
        {{> navigation}}
      </div>

      {{> header}}

      <div class="off-canvas-content" data-off-canvas-content>
        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}

        {{> footer}}
      </div>
    </div>


    <script src="{{root}}assets/js/app.js"></script>

    <!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    -->
	<script src="assets/vendor/masterslider/js/jquery.easing.min.js"></script>
	<!-- MasterSlider main JS file -->
	<script src="assets/vendor/masterslider/js/masterslider.min.js"></script>

    <script type="text/javascript">

    var slider = new MasterSlider();

    // adds Arrows navigation control to the slider.
    slider.control('arrows');
    // slider.control('timebar' , {insertTo:'#masterslider'});
    slider.control('bullets');

    slider.setup('masterslider' , {
        width:1400,    // slider standard width
        height:580,   // slider standard height
        space:1,
        layout:'fullwidth',
        loop:true,
        preload:0,
        autoplay:true
    });

    var testimonial_slider = new MasterSlider();

    testimonial_slider.control("arrows", {autohide:true});
    testimonial_slider.control("bullets", {autohide:false});

    testimonial_slider.setup("testimonial-slider", {
        width:1000,
        height:320,
        centerControls:false,
        space:0,
        layout:"fillwidth",
        // autoHeight:true,
        autoHeight:true,
        loop:true,
        autoplay:true
    });

    </script>
  </body>
</html>
